* {
    box-sizing: border-box;
}

html,
.btn {
    font-family: var(--font-main);
    color: var(--color-secondary);
    font-weight: bold;
    font-size: var(--font-size-base);
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--md);
    overflow-x: hidden;
    background-color: var(--color-primary);
    font-family: var(--font-main);
    text-align: center;
    margin: 0;
    padding: 0
}

img {
    width: 100%;
    margin-inline-end: 2.125rem;
    border-radius: var(--sm);
    margin-block-end: 1.3125rem;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: bold;
}

a:hover,
.btn:hover {
    text-decoration: none;
    color: var(--color-fourth);
    background-color: var(--color-secondary);
    border-radius: var(--xs);
    padding: var(--md)
}

a:hover,
.btn,
.main-screen,
input {
    cursor: pointer;
}