/* Main Layout */
.main-layout {
    display: grid;
    grid-template-rows: minmax(1fr, 4.5rem, ) minmax(1fr, 4.5rem, ) 1fr 1fr minmax(1fr, 4.5rem, );
    grid-template-columns: 4.1875rem 1fr 4.1875rem;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>*.full {
    grid-column: 1 / -1;
}

.gallery-container .search-bar {
    grid-column: 2/-2;
}

.gallery-container .results-container {
    grid-column: 2/-2;
    grid-row: 3/4;
}

.editor-container {
    grid-column: 2/-2;
    grid-row: 4/5;
}