.editor-container {
    gap: 5.4375rem;
}

.editor-container>* {
    border-radius: 1.25rem;
    background-color: hwb(220 22% 61%);
    margin-top: 1.25rem;
}

canvas {
    font-family: impact, monospace;
    background-color: white;
    border: 0.0625rem solid lightgray;
    border-radius: 1.25rem;
    margin: 0.3125rem
}

.canvas-container {
    width: 40vw;
}

.controlls {
    flex-direction: column;
}

.controlls>* {
    border-radius: 0.4375rem;
    padding: 0.625rem;
    margin: 1.25rem 2.25rem
}

.meme-text-input {
    display: block;
    width: 80%;
    background-color: whitesmoke;
    text-align: center;
    font-size: 1em;
    padding: 1.0625rem;
    border-radius: 3.125rem;
}

.line-btns>* {
    border-radius: 0.4375rem;
}

.switch-line {
    background-color: #00ccff;
}

.move-up {
    background-color: hwb(281 2% 18%);
}

.move-down {
    background-color: hwb(281 2% 18%);
}

.add-line {
    background-color: hsl(152, 96%, 42%);
}

.delete-line {
    background-color: hsl(8, 86%, 59%);
}

.txt-controlls {
    background-color: #00ccff;
}

.txt-controlls>* {
    background-color: whitesmoke;
    color: hsl(0, 0%, 17%);
    padding: 0.875rem;
    border-radius: 0.4375rem;
}

.txt-controlls input,
select {
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}

.ext-actions>* {
    border-radius: 0.625rem;
    padding: 0.875rem;
    margin-inline: 1rem
}

.btn-upload {
    background-color: hwb(152 1% 33%);
}

.btn-share {
    background-color: hsl(232, 92%, 54%);
}

.btn-download {
    background-color: #b772f7;
}

.btn-save-meme {
    background-color: #efa926;
}