.editor-container {
    gap: 5.4375rem;
}

.editor-container>* {
    border-radius: var(--md);
    background-color: var(--color-third);
    margin-top: var(--md);
}

canvas {
    font-family: impact, monospace;
    background-color: var(--color-secondary);
    border: var(--sm) solid var(--color-border);
    border-radius: var(--md);
    margin: var(--xxl)
}

.canvas-container {
    width: 40vw;
}

.controlls {
    flex-direction: column;
}

.controlls>* {
    border-radius: var(--xs);
    padding: var(--sm);
    margin: var(--md) 2.25rem
}

.meme-text-input {
    display: block;
    width: 80%;
    background-color: var(--color-secondary);
    text-align: center;
    font-size: var(--font-size-base);
    padding: 1.0625rem;
    border-radius: var(--xxl);
}

.line-btns>* {
    border-radius: var(--xs);
}

.switch-line {
    background-color: var(--color-fourth);
}

.move-up {
    background-color: hwb(281 2% 18%);
}

.move-down {
    background-color: hwb(281 2% 18%);
}

.add-line {
    background-color: hsl(152, 96%, 42%);
}

.delete-line {
    background-color: hsl(8, 86%, 59%);
}

.txt-controlls {
    background-color: var(--color-fourth);
    justify-content: space-evenly;
}

.txt-controlls>* {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 0.875rem;
    border-radius: var(--xs);
}

.txt-controlls input,
select {
    font-weight: bold;
    font-size: var(--font-size-base);
    text-transform: uppercase;
}

.ext-actions>* {
    border-radius: var(--sm);
    padding: 0.875rem;
    margin-inline: 1rem
}

.btn-upload {
    background-color: hwb(152 1% 33%);
}

.btn-share {
    background-color: hsl(232, 92%, 54%);
}

.btn-download {
    background-color: #b772f7;
}

.btn-save-meme {
    background-color: #efa926;
}