.main-footer {
    grid-column: 1 / -1;
    width: 100%;
    border-block-start: var(--sm) solid var(--color-border);
    background-color: var(--color-border);
    padding: var(--sm) var(--xs);
    text-align: center;
    margin-block-end: 2.8125rem;
    font-size: 1rem;
    color: var(--color-third);
}