.main-header {
    background-image: linear-gradient(to right, var(--color-fourth), rgb(37, 173, 132));
    border-radius: 4.375rem;
    padding: var(--sm)
}

.logo {
    font-family: eurofurence, sans-serif;
    font-size: 2.17em
}

.logo span {
    color: green;
}


/* Nav-list */
.main-nav-list li {
    width: 8.3125rem;
    transition: 0.5s;
}

.main-header .logo {
    color: whitesmoke;
}