/* Mobile */
@media (max-width: 53.75rem) {
  .main-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: var(--md) 0;
    min-height: 4.375rem;
  }

  .header-content {
    justify-content: space-between;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    right: var(--md);
    top: 50%;
    transform: translateY(-50%);
  }

  .main-nav {
    display: none;
    position: fixed;
    top: 4.375rem;
    left: 0;
    width: 100%;
    background-color: var(--color-secondary);
    z-index: 10;
  }

  body.menu-open .main-nav {
    display: block;
  }

  .main-nav ul {
    flex-direction: column;
    background-color: var(--color-border);
  }

  .main-nav li {
    border-bottom: 1px solid var(--color-border);
    text-align: center;
    padding: var(--sm) 0
  }

  .logo {
    position: absolute;
    top: 25%;
    left: 7%;
    margin-bottom: var(--sm);
  }

  .main-content {
    padding-top: 3.75rem;
  }

  .gallery-container {
    flex-direction: column;
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 3.75rem;
  }

  .search {
    width: 100%;
    margin-bottom: var(--sm);
  }

  .popular-suggestions .btn-more {
    display: flex;
    justify-content: space-between;
  }

  .popular-suggestions {
    flex-grow: 1;
    margin-right: var(--sm);
  }

  .results-container {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--md);
  }

  .editor-container {
    flex-direction: column;
    gap: var(--md);
  }

  .canvas-container,
  .controlls {
    width: 100%;
  }

  .search-bar,
  .meme-text-input,
  .btn,
  select,
  input {
    width: 100%;
    margin: var(--xs) 0;
  }

  .main-footer {
    padding: var(--sm) var(--xs);
    text-align: center;
  }
}