/* Mobile Only  */
/* @media (max-width: 920px) {
  .main-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    background: rgb(255 255 255 / 90%);
    border-inline-start: 1px solid #ccc;

    transform: translateX(100%);

    transition: transform 0.6s, box-shadow 0.6s;
  }

  body.menu-open .main-nav {
    transform: translateX(0);
    box-shadow: -4px 0px 20px rgb(0 0 0 / 30%);
  }

  .main-nav .main-nav-list {
    flex-direction: column;
    min-width: 200px;
  }

  .main-nav .main-nav-list>li {
    border-bottom: 1px solid #ccc;
  }

  .main-nav .main-nav-list a {
    display: flex;
    justify-content: center;
    padding: 6px 10px;
  }

  .main-nav .main-nav-list a:hover {
    background-color: #f2f2f2;
  }
} */

/* SMALL */
/* @media (min-width: 640px) {
  .main-layout {
    grid-template-columns:
      minmax(20px, 1fr) minmax(auto, 600px) minmax(20px, 1fr);
  }
} */

/* MEDIUM */
/* @media (min-width: 920px) {
  .main-layout {
    grid-template-columns:
      minmax(20px, 1fr) minmax(auto, 880px) minmax(20px, 1fr);
  }

  .toggle-menu-btn {
    display: none;
  }

  :root {
    --card-layout-outer-margin: 0px;
  }

  .main-header .main-nav-list>li:not(:last-child) {
    margin-inline-end: 100px;
  }

  .card-layout {
    row-gap: 80px;
  }

  .card-layout>*:first-child>*:not(.card-image) {
    margin-inline: 80px;
  }

  .card-layout {
    grid-template-columns:
      var(--card-layout-outer-margin) 1fr var(--card-layout-margin) 1fr var(--card-layout-outer-margin);
  }

  .card-layout>*:first-child {
    grid-column: 1 / -1;
  }

  .card-layout>*:nth-child(even) {
    grid-column: 2;
  }

  .card-layout>*:nth-child(odd):not(:first-child) {
    grid-column: 4;
  }
} */

/* LARGE */
/* @media (min-width: 1100px) {
  .main-layout {
    grid-template-columns:
      minmax(20px, 1fr) minmax(auto, 1060px) minmax(20px, 1fr);
  }

  :root {
    --card-layout-margin: 60px;
    --card-layout-outer-margin: 80px;
  }

  .card-layout {
    row-gap: 130px;
  }
} */